#15_198 { 
	overflow:hidden;
}#e15_198 { 
	width:1920px;
	height:1080px;
	position:absolute;
}#e15_199 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
}#e15_200 { 
	background-color:rgba(0, 65.0000037252903, 165.00000536441803, 1);
	width:1920px;
	height:340px;
	position:absolute;
	left:0px;
	top:0px;
}#e15_201 { 
	width:1920px;
	height:340px;
	position:absolute;
	left:0px;
	top:0px;
}#e15_202 { 
	width:1920px;
	height:340px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/div_ifuokc.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e18_297 { 
	width:1904px;
	height:56px;
	position:absolute;
	left:16.321044921875px;
	top:0.3101806640625px;
}#e18_298 { 
	width:56px;
	height:56px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/link___jsdkfamlcjbvrb3b_gyg7lvojzzqykbe_vapsoajkmmkxelz4knzg3l0ab990ukrh9f_9svpiax7zhfzmiyhsb8_w16383.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e18_299 { 
	width:56.5px;
	height:56.5px;
	position:absolute;
	left:-0.321044921875px;
	top:-0.3101806640625px;
	background-image:url(images/image_5.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e18_300 { 
	width:195.77000427246094px;
	height:52px;
	position:absolute;
	left:56px;
	top:2px;
}#e18_301 { 
	color:rgba(249.00000035762787, 249.00000035762787, 249.00000035762787, 1);
	width:172.10340881347656px;
	height:24px;
	position:absolute;
	left:12px;
	top:14px;
	font-family:Montserrat;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}#e18_302 { 
	width:73.69000244140625px;
	height:39px;
	position:absolute;
	left:1374.8399658203125px;
	top:8.5px;
}#e18_303 { 
	width:49.689998626708984px;
	height:19px;
	position:absolute;
	left:12px;
	top:10px;
}#e18_304 { 
	color:rgba(249.00000035762787, 249.00000035762787, 249.00000035762787, 1);
	width:50.04215621948242px;
	height:19px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Montserrat;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}#e18_305 { 
	width:139.80999755859375px;
	height:39px;
	position:absolute;
	left:1450.530029296875px;
	top:8.5px;
}#e18_306 { 
	width:18px;
	height:19px;
	position:absolute;
	left:109.80999755859375px;
	top:10px;
}#e18_307 { 
	width:24px;
	height:24px;
	position:absolute;
	left:-2px;
	top:-1.1399999856948853px;
}#e18_308 { 
	transform: rotate(45deg);
	width:8.399999618530273px;
	height:0px;
	position:absolute;
	left:6.7301506996154785px;
	top:9.030150413513184px;
}#e18_309 { 
	transform: rotate(45deg);
	background-color:rgba(0, 0, 0, 1);
	width:8.399999618530273px;
	height:0px;
	position:absolute;
	left:0px;
	top:0px;
}#18_309 { 
	border:1px solid rgba(249.00000035762787, 249.00000035762787, 249.00000035762787, 1);
}#e18_310 { 
	transform: rotate(-45deg);
	width:8.399999618530273px;
	height:0px;
	position:absolute;
	left:11.330150604248047px;
	top:14.969849586486816px;
}#e18_311 { 
	transform: rotate(-45deg);
	background-color:rgba(0, 0, 0, 1);
	width:8.399999618530273px;
	height:0px;
	position:absolute;
	left:0px;
	top:0px;
}#18_311 { 
	border:1px solid rgba(249.00000035762787, 249.00000035762787, 249.00000035762787, 1);
}#e18_312 { 
	width:94.80999755859375px;
	height:19px;
	position:absolute;
	left:12px;
	top:10px;
}#e18_313 { 
	color:rgba(249.00000035762787, 249.00000035762787, 249.00000035762787, 1);
	width:95.15657806396484px;
	height:19px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Montserrat;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}#e18_314 { 
	width:86.12999725341797px;
	height:39px;
	position:absolute;
	left:1592.3399658203125px;
	top:8.5px;
}#e18_315 { 
	width:62.130001068115234px;
	height:19px;
	position:absolute;
	left:12px;
	top:10px;
}#e18_316 { 
	color:rgba(249.00000035762787, 249.00000035762787, 249.00000035762787, 1);
	width:62.521034240722656px;
	height:19px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Montserrat;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}#e18_317 { 
	width:100.88999938964844px;
	height:39px;
	position:absolute;
	left:1680.469970703125px;
	top:8.5px;
}#e18_318 { 
	width:76.88999938964844px;
	height:19px;
	position:absolute;
	left:12px;
	top:10px;
}#e18_319 { 
	color:rgba(249.00000035762787, 249.00000035762787, 249.00000035762787, 1);
	width:77.20857238769531px;
	height:19px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Montserrat;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}#e18_320 { 
	width:72.63999938964844px;
	height:39px;
	position:absolute;
	left:1783.3599853515625px;
	top:8.5px;
}#e18_321 { 
	width:18px;
	height:19px;
	position:absolute;
	left:42.63999938964844px;
	top:10px;
}#e18_322 { 
	width:24px;
	height:24px;
	position:absolute;
	left:-2px;
	top:-1.1399999856948853px;
}#e18_323 { 
	transform: rotate(45deg);
	width:8.399999618530273px;
	height:0px;
	position:absolute;
	left:6.7301506996154785px;
	top:9.030150413513184px;
}#e18_324 { 
	transform: rotate(45deg);
	background-color:rgba(0, 0, 0, 1);
	width:8.399999618530273px;
	height:0px;
	position:absolute;
	left:0px;
	top:0px;
}#18_324 { 
	border:1px solid rgba(249.00000035762787, 249.00000035762787, 249.00000035762787, 1);
}#e18_325 { 
	transform: rotate(-45deg);
	width:8.399999618530273px;
	height:0px;
	position:absolute;
	left:11.330150604248047px;
	top:14.969849586486816px;
}#e18_326 { 
	transform: rotate(-45deg);
	background-color:rgba(0, 0, 0, 1);
	width:8.399999618530273px;
	height:0px;
	position:absolute;
	left:0px;
	top:0px;
}#18_326 { 
	border:1px solid rgba(249.00000035762787, 249.00000035762787, 249.00000035762787, 1);
}#e18_327 { 
	width:27.639999389648438px;
	height:19px;
	position:absolute;
	left:12px;
	top:10px;
}#e18_328 { 
	color:rgba(249.00000035762787, 249.00000035762787, 249.00000035762787, 1);
	width:28.006500244140625px;
	height:19px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Montserrat;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}#e18_329 { 
	width:48px;
	height:48px;
	position:absolute;
	left:1856px;
	top:4px;
	border-top-left-radius:24px;
	border-top-right-radius:24px;
	border-bottom-left-radius:24px;
	border-bottom-right-radius:24px;
}#e18_330 { 
	width:48.5px;
	height:48.5px;
	position:absolute;
	left:-0.321044921875px;
	top:-0.3101806640625px;
	background-image:url(images/image_6.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e15_203 { 
	color:rgba(249.00000035762787, 249.00000035762787, 249.00000035762787, 1);
	width:184.53311157226562px;
	height:55px;
	position:absolute;
	left:867.8900146484375px;
	top:141.72000122070312px;
	font-family:Montserrat;
	text-align:center;
	font-size:45.29999923706055px;
	letter-spacing:0;
	line-height:px;
}#e15_204 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:88px;
	position:absolute;
	left:0px;
	top:340px;
}#e15_205 { 
	color:rgba(28.000000230968, 28.000000230968, 28.000000230968, 1);
	width:94.68584442138672px;
	height:19px;
	position:absolute;
	left:390.79998779296875px;
	top:374px;
	font-family:Montserrat;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}#e15_206 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:18px;
	position:absolute;
	left:0px;
	top:428px;
}#e15_207 { 
	background-color:rgba(0, 0, 0, 0.15000000596046448);
	width:1154.4100341796875px;
	height:2px;
	position:absolute;
	left:382.79998779296875px;
	top:436.5px;
}#e15_208 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:121.08000183105469px;
	position:absolute;
	left:0px;
	top:446px;
}#e15_209 { 
	width:1280px;
	height:73.08000183105469px;
	position:absolute;
	left:320px;
	top:470px;
}#e15_210 { 
	width:69.05999755859375px;
	height:73.08000183105469px;
	position:absolute;
	left:62.79999923706055px;
	top:0px;
	background-image:url(images/txfxrsy_v1xlal8bkjujm_np74yvlhz02snahfwhhhhi7bdtsm1v__nm9czqiillojvxnwlzmjpfgktmezbzsllx5j_eloqh86wgpzr1_hgof6jyqfwy3qek7lkvja_r1q_w1280.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e18_333 { 
	width:69.05999755859375px;
	height:73.08000183105469px;
	position:absolute;
	left:62.79998779296875px;
	top:0px;
	background-image:url(images/txfxrsy_v1xlal8bkjujm_np74yvlhz02snahfwhhhhi7bdtsm1v__nm9czqiillojvxnwlzmjpfgktmezbzsllx5j_eloqh86wgpzr1_hgof6jyqfwy3qek7lkvja_r1q_w1280.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e18_334 { 
	width:69.05999755859375px;
	height:73.08000183105469px;
	position:absolute;
	left:63px;
	top:0px;
	background-image:url(images/txfxrsy_v1xlal8bkjujm_np74yvlhz02snahfwhhhhi7bdtsm1v__nm9czqiillojvxnwlzmjpfgktmezbzsllx5j_eloqh86wgpzr1_hgof6jyqfwy3qek7lkvja_r1q_w1280.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e15_211 { 
	color:rgba(28.000000230968, 28.000000230968, 28.000000230968, 1);
	width:79.65238952636719px;
	height:19px;
	position:absolute;
	left:169.4499969482422px;
	top:10px;
	font-family:Montserrat;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}#15_212 { 
	border:1px solid rgba(0, 65.0000037252903, 165.00000536441803, 1);
}#e15_212 { 
	width:167.72999572753906px;
	height:36px;
	position:absolute;
	left:852.1099853515625px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}#e15_213 { 
	width:141.72999572753906px;
	height:19px;
	position:absolute;
	left:13px;
	top:8.5px;
}#e15_214 { 
	color:rgba(0, 65.0000037252903, 165.00000536441803, 1);
	width:33.390281677246094px;
	height:19px;
	position:absolute;
	left:54.310001373291016px;
	top:0px;
	font-family:Montserrat;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}#15_215 { 
	border:1px solid rgba(0, 65.0000037252903, 165.00000536441803, 1);
}#e15_215 { 
	width:167.72999572753906px;
	height:36px;
	position:absolute;
	left:1049.43994140625px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}#e15_216 { 
	width:141.72999572753906px;
	height:19px;
	position:absolute;
	left:13px;
	top:8.5px;
}#e15_217 { 
	color:rgba(0, 65.0000037252903, 165.00000536441803, 1);
	width:53.08162307739258px;
	height:19px;
	position:absolute;
	left:44.5px;
	top:0px;
	font-family:Montserrat;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}#e15_218 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:119.2699966430664px;
	position:absolute;
	left:0px;
	top:567.0800170898438px;
}#e15_219 { 
	width:1280px;
	height:71.2699966430664px;
	position:absolute;
	left:320px;
	top:591.0800170898438px;
}#e15_220 { 
	width:69.05999755859375px;
	height:71.2699966430664px;
	position:absolute;
	left:62.79999923706055px;
	top:0px;
	background-image:url(images/zkyjijkkcmzct8_neno_mqkaiij2edo_8qpmcduc9skzmkiytzwcscgvbkpnzzrc4_fxnkfwl_xz6qvxvvf_1u8wj4vtnfwrdxgn_zxxnlwld2chrlb5hwzzbpkqfq_lsw_w1280.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e18_336 { 
	width:69.5px;
	height:71.5px;
	position:absolute;
	left:0.20001220703125px;
	top:-0.08001708984375px;
	background-image:url(images/image_12.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e15_221 { 
	color:rgba(28.000000230968, 28.000000230968, 28.000000230968, 1);
	width:90.78976440429688px;
	height:19px;
	position:absolute;
	left:169.4499969482422px;
	top:10px;
	font-family:Montserrat;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}#15_222 { 
	border:1px solid rgba(0, 65.0000037252903, 165.00000536441803, 1);
}#e15_222 { 
	width:167.72999572753906px;
	height:36px;
	position:absolute;
	left:852.1099853515625px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}#e15_223 { 
	width:141.72999572753906px;
	height:19px;
	position:absolute;
	left:13px;
	top:8.5px;
}#e15_224 { 
	color:rgba(0, 65.0000037252903, 165.00000536441803, 1);
	width:33.390281677246094px;
	height:19px;
	position:absolute;
	left:54.310001373291016px;
	top:0px;
	font-family:Montserrat;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}#15_225 { 
	border:1px solid rgba(0, 65.0000037252903, 165.00000536441803, 1);
}#e15_225 { 
	width:167.72999572753906px;
	height:36px;
	position:absolute;
	left:1049.43994140625px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}#e15_226 { 
	width:141.72999572753906px;
	height:19px;
	position:absolute;
	left:13px;
	top:8.5px;
}#e15_227 { 
	color:rgba(0, 65.0000037252903, 165.00000536441803, 1);
	width:53.08162307739258px;
	height:19px;
	position:absolute;
	left:44.5px;
	top:0px;
	font-family:Montserrat;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}#e15_228 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:114.91000366210938px;
	position:absolute;
	left:0px;
	top:686.3400268554688px;
}#e15_229 { 
	width:1280px;
	height:66.91000366210938px;
	position:absolute;
	left:320px;
	top:710.3400268554688px;
}#e15_230 { 
	width:69.05999755859375px;
	height:66.91000366210938px;
	position:absolute;
	left:62.79999923706055px;
	top:0px;
	background-image:url(images/z4jkwksijmktgfwuy4g7g2ctt9s5tmodhzhxrwowdi8lkazcbkke400gndlhh6vvpyc9zx61zadjktscnwnt8ngbeyq6obfmo1jrffomfupgnve4eg_7m1yjlkuatbhpsq_w1280.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e18_338 { 
	width:69.5px;
	height:67.5px;
	position:absolute;
	left:0.20001220703125px;
	top:-0.34002685546875px;
	background-image:url(images/image_13.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e15_231 { 
	color:rgba(28.000000230968, 28.000000230968, 28.000000230968, 1);
	width:79.20169067382812px;
	height:19px;
	position:absolute;
	left:169.4499969482422px;
	top:10px;
	font-family:Montserrat;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}#15_232 { 
	border:1px solid rgba(0, 65.0000037252903, 165.00000536441803, 1);
}#e15_232 { 
	width:167.72999572753906px;
	height:36px;
	position:absolute;
	left:852.1099853515625px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}#e15_233 { 
	width:141.72999572753906px;
	height:19px;
	position:absolute;
	left:13px;
	top:8.5px;
}#e15_234 { 
	color:rgba(0, 65.0000037252903, 165.00000536441803, 1);
	width:33.390281677246094px;
	height:19px;
	position:absolute;
	left:54.310001373291016px;
	top:0px;
	font-family:Montserrat;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}#15_235 { 
	border:1px solid rgba(0, 65.0000037252903, 165.00000536441803, 1);
}#e15_235 { 
	width:167.72999572753906px;
	height:36px;
	position:absolute;
	left:1049.43994140625px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}#e15_236 { 
	width:141.72999572753906px;
	height:19px;
	position:absolute;
	left:13px;
	top:8.5px;
}#e15_237 { 
	color:rgba(0, 65.0000037252903, 165.00000536441803, 1);
	width:53.08162307739258px;
	height:19px;
	position:absolute;
	left:44.5px;
	top:0px;
	font-family:Montserrat;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}#e15_238 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:131.08999633789062px;
	position:absolute;
	left:0px;
	top:801.25px;
}#e15_239 { 
	width:1280px;
	height:83.08999633789062px;
	position:absolute;
	left:320px;
	top:825.25px;
}#e15_240 { 
	width:69.05999755859375px;
	height:83.08999633789062px;
	position:absolute;
	left:62.79999923706055px;
	top:0px;
	background-image:url(images/qq5h7qkhysnlq_p0u0rl_jcthsb8vi__tglym64xdl7j4nh63crhjfmh8lsi6e_cg14le56icrkkmvvazstbyrls9fsx_wk5v0ueoq8gcb7ixokvfcvzxymwzesghsnylq_w1280.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e18_340 { 
	width:69.5px;
	height:83.5px;
	position:absolute;
	left:0.20001220703125px;
	top:-0.25px;
	background-image:url(images/image_14.png);
	background-repeat:no-repeat;
	background-size:cover;
}#e15_241 { 
	color:rgba(28.000000230968, 28.000000230968, 28.000000230968, 1);
	width:83.27804565429688px;
	height:19px;
	position:absolute;
	left:169.4499969482422px;
	top:10px;
	font-family:Montserrat;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}#15_242 { 
	border:1px solid rgba(0, 65.0000037252903, 165.00000536441803, 1);
}#e15_242 { 
	width:167.72999572753906px;
	height:36px;
	position:absolute;
	left:852.1099853515625px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}#e15_243 { 
	width:141.72999572753906px;
	height:19px;
	position:absolute;
	left:13px;
	top:8.5px;
}#e15_244 { 
	color:rgba(0, 65.0000037252903, 165.00000536441803, 1);
	width:33.390281677246094px;
	height:19px;
	position:absolute;
	left:54.310001373291016px;
	top:0px;
	font-family:Montserrat;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}#15_245 { 
	border:1px solid rgba(0, 65.0000037252903, 165.00000536441803, 1);
}#e15_245 { 
	width:167.72999572753906px;
	height:36px;
	position:absolute;
	left:1049.43994140625px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}#e15_246 { 
	width:141.72999572753906px;
	height:19px;
	position:absolute;
	left:13px;
	top:8.5px;
}#e15_247 { 
	color:rgba(0, 65.0000037252903, 165.00000536441803, 1);
	width:53.08162307739258px;
	height:19px;
	position:absolute;
	left:44.5px;
	top:0px;
	font-family:Montserrat;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}#e15_248 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:18px;
	position:absolute;
	left:0px;
	top:932.3400268554688px;
}#e15_249 { 
	background-color:rgba(0, 0, 0, 0.15000000596046448);
	width:1154.4100341796875px;
	height:2px;
	position:absolute;
	left:382.79998779296875px;
	top:940.8400268554688px;
}#e15_250 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:84px;
	position:absolute;
	left:0px;
	top:950.3400268554688px;
}#e15_251 { 
	background-color:rgba(0, 65.0000037252903, 165.00000536441803, 1);
	width:167.72999572753906px;
	height:36px;
	position:absolute;
	left:1369.449951171875px;
	top:974.3400268554688px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}#15_251 { 
	border:1px solid rgba(0, 65.0000037252903, 165.00000536441803, 1);
}#e15_252 { 
	background-color:rgba(0, 65.0000037252903, 165.00000536441803, 1);
	width:165.72999572753906px;
	height:51px;
	position:absolute;
	left:1px;
	top:-7.5px;
}#e15_253 { 
	width:141.72999572753906px;
	height:19px;
	position:absolute;
	left:12px;
	top:16px;
}#e15_254 { 
	color:rgba(249.00000035762787, 249.00000035762787, 249.00000035762787, 1);
	width:77.0383071899414px;
	height:19px;
	position:absolute;
	left:32.5px;
	top:0px;
	font-family:Montserrat;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}#e15_255 { 
	width:1920px;
	height:1px;
	position:absolute;
	left:0px;
	top:1034.3399658203125px;
}#e15_256 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:122.66000366210938px;
	position:absolute;
	left:0px;
	top:1034.3399658203125px;
}#e15_257 { 
	color:rgba(28.000000230968, 28.000000230968, 28.000000230968, 1);
	width:130.00999450683594px;
	height:17px;
	position:absolute;
	left:390.79998779296875px;
	top:1069.3399658203125px;
	font-family:Inter;
	text-align:left;
	font-size:15.375px;
	letter-spacing:0;
	line-height:px;
}#e15_258 { 
	color:rgba(28.000000230968, 28.000000230968, 28.000000230968, 1);
	width:310.55999755859375px;
	height:17px;
	position:absolute;
	left:390.79998779296875px;
	top:1104px;
	font-family:Inter;
	text-align:left;
	font-size:15.75px;
	letter-spacing:0;
	line-height:px;
}